@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
  font-family: grotesk;
  src: url('../fonts/SpaceGrotesk-Light.woff');
  font-weight: 200;
}
@font-face {
  font-family: grotesk;
  src: url('../fonts/SpaceGrotesk-Regular.woff');
  font-weight: 300;
}
@font-face {
  font-family: grotesk;
  src: url('../fonts/SpaceGrotesk-Mediumm.woff');
  font-weight: 400;
}
@font-face {
  font-family: grotesk;
  src: url('../fonts/SpaceGrotesk-SemiBold.woff');
  font-weight: 500;
}
@font-face {
  font-family: grotesk;
  src: url('../fonts/SpaceGrotesk-Bold.woff');
  font-weight: 600;
}
:root{
  --light-grey-color: #fafafa;
  --light-blue-color: #2e73b8;
  --dark-blue-color: #144070;
  --white-color: #ffffff;
}
body{
  background-color: var(--white-color);
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  color: var(--dark-blue-color);
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  font-family: "grotesk", sans-serif;
  color: var(--dark-blue-color);
}
/* btn */
.btn_primary{
  width: fit-content;
  height: fit-content;
  color: var(--white-color);
  display: block;
  text-decoration: none;
  background-color: var(--dark-blue-color);
  border: 1px solid var(--dark-blue-color);
  padding: 12px 12px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out; 
}
.btn_primary:hover{
  width: fit-content;
  color: var(--white-color);
  text-decoration: none;
  background-color: var(--light-blue-color);
  border: 1px solid var(--light-blue-color);
  padding: 12px 12px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out; 
}
.btn_secondary{
  width: fit-content;
  height: fit-content;
  color: var(--dark-blue-color);
  display: block;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid var(--dark-blue-color);
  padding: 12px 12px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out; 
}
.btn_secondary:hover{
  width: fit-content;
  color: var(--white-color);
  text-decoration: none;
  background-color: var(--light-blue-color);
  border: 1px solid var(--light-blue-color);
  padding: 12px 12px;
  border-radius: 6px;
  transition: all 0.3s ease-in-out; 
}
/* --- */
.center-content{
  display: flex;
  justify-content: center;
}
a{
  text-decoration: none;
  color: var(--light-blue-color);
  transition: all 0.3s ease-in-out; 
}
a:hover{
  text-decoration: none;
  color: var(--dark-blue-color);
  transition: all 0.3s ease-in-out; 
}
/* --- */
.wrapper{
  max-width: 1200px;
  width: 100%;
}
@media (max-width: 900px){
  .wrapper{
  padding: 0 1rem;
  }
}
.main__nav{
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey-color);
  transition: all 0.3s ease-in-out; /* Smooth hiding effect */
}
.main__nav a{
  text-decoration: none;
  color: var(--dark-blue-color);
  font-weight: 500;
}
.main__nav .wrapper{
  display: flex;
  align-items: center;
}
.main__nav__logo{
  width: 100px;
  height: 100px;
  margin-right: auto;
  display: flex;
  align-items: center;
}
.main__nav__logo img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.main__nav__content{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.main__nav__content__socials{
  margin-bottom: .5rem;
}
.main__nav__content__socials a{
  margin-left: 10px;
}
.main__nav__content__socials img{
  width: 20px;
  height: 20px;
}
.main__nav__content__links{
  border-top: 1px solid var(--dark-blue-color);
  padding-top: .5rem;
  display: flex;
  gap: 1.750rem;
}
@media (max-width: 900px){
  .main__nav.nav--activ{
    height: 100%;
    background-color: var(--light-grey-color);
  }
  .main__nav__content.nav--activ{
    display: flex;
    position: fixed;
    gap: 2rem;
    bottom: 1rem;
    left: 2rem;
  }
  .main__nav__content{
    display: none;
  }
  .main__nav__content.nav--activ{
    position: relative;
    gap: .5rem;
  }
  .main__nav .wrapper{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  .main__nav__content__socials {
    order: 2;
  }
  .main__nav__content__links {
    order: 1;
    border-bottom: 1px solid var(--dark-blue-color);
    border-top: none;
    padding-bottom: .5rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
  }
}

.with-submenu {
  position: relative;
  cursor: pointer;
}
/* Submenu styles */
.submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: var(--light-grey-color);
  min-width: 200px;
  padding: 0.5rem 0;
  z-index: 1000;
  flex-direction: column;
  transition: max-height 0.3s ease;
}
.submenu a {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--dark-blue-color);
  text-decoration: none;
}
.submenu a:hover {
  background-color: #e6e6e6;
}
/* Show on hover (desktop) */
@media (min-width: 901px) {
  .with-submenu:hover .submenu {
    display: flex;
  }
}
/* Toggleable submenu for mobile */
@media (max-width: 900px) {
  .with-submenu{
    flex-direction: column;
  }
  .with-submenu .submenu {
    position: relative;
    max-height: 0;
    overflow: hidden;
  }
  .with-submenu.open .submenu {
    display: flex;
    max-height: 500px; /* or auto, but smoother with fixed value */
  }
  .with-submenu .submenu a {
    padding-left: 2rem;
  }
  .submenu {
    top: 0;
  }
}
.submenu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: var(--dark-blue-color);
  display: flex;
  align-items: center;
}
.submenu-toggle:after {
  font-family: 'Font Awesome 6 Free';
  font-weight: 600;
  margin-left: 0.5rem;
  -webkit-font-smoothing: antialiased;
  content: '\f078';
}
.with-submenu {
  display: flex;
  align-items: center;
  position: relative;
}
.submenu-toggle.open:after {
  content: '\f077'; /* Upward arrow */
}
/* Burger Menu */
.nav__burger{
  display: none;
}
@media (max-width: 900px){
  .nav__burger{
    position: fixed;
    top: 0;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    width: 25px;
    height: 125px;
    z-index: 1000;
    padding: 50px 0;
  }
  .nav__burger span{
    width: 25px;
    height: 2px;
    border: none;
    background-color: var(--dark-blue-color);
    transition: all ease-in-out .5s;
  }
  .nav__burger span:nth-of-type(2){
    transition: all ease-in-out .5s;
  }
  .burger--activ span:nth-of-type(2){
    opacity: 0;
  }
  .burger--activ span:nth-of-type(1){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
  }
  .burger--activ span:nth-of-type(3){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(-45deg);
  }
}
/* Header */
.main__header{
  margin-top: 100px;
  background: url('../img/header.webp') center/cover;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main__header h1{
  font-size: 4rem;
  color: var(--white-color);
  text-align: center;
  display: block;
  margin: 0 0 1rem 0;
}
.main__header span{
  display: block;
  font-size: 2rem;
  color: var(--white-color);
  text-align: center;
}
@media (max-width: 900px){
  .main__header span{
    font-size: 1.5rem;
  }
}
/* bloc Filtre */
/*.filtre{
  padding: 2rem 0;
}
.filtre__wrapper{
  max-width: 800px;
  width: 100%;
  border: 2px solid var(--white-color);
  background-color: var(--light-blue-color);
  color: var(--white-color);
}
.filtre__form__header{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.filtre__form__input{
  width: 50%;
}
.filtre__title{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: .5rem 1rem;
}
.filtre__title a{
  color: var(--white-color);
}
.filtre__body{
  padding: .5rem 1rem;
}
.filtre__footer{
  padding: .5rem 1rem;
  display: flex;
  justify-content: flex-end;
}*/
.collapsible {
  width: fit-content;
  color: var(--dark-blue-color);
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.filtre__form_content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: transparent;
}
.filtre__input{
  background-color: #fff;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 rgba(26, 62, 93, .5);
  color: var(--dark-blue-color);
  font-family: Space Grotesk, sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1;
  margin: 0;
  padding: 13px 20px;
  width: 100%;
}
/* content */
section h2{
  font-weight: 600;
  font-size: 2rem;
  margin-top: 2rem;
}
.main__content section{
  display: flex;
  justify-content: center;
}
.intro{
  background-color: var(--light-grey-color);
}
.intro p{
  font-weight: 400;
}
.intro .btn_primary{
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: inline-block;
}
/* actualite */
.actu .btn_primary{
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.actu__cards{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 2rem;
}
@media (max-width: 900px){
  .actu__cards{
    flex-direction: column;
  }
}
.actu__card{
  display: flex;
  width: 30%;
  flex-direction: column;
  gap: .8rem;
}
@media (max-width: 900px){
  .actu__card{
    width: 100%;
  }
}
.actu__card__img{
  width: 100%;
  height: 250px;
}
.actu__card__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.actu__card__tag{
  font-size: .7rem;
}
@media (max-width: 900px){
  .actu__card__tag{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
.actu__card__tag a{
  background-color: var(--light-blue-color);
  border: 1px solid var(--light-blue-color);
  padding: 4px 8px;
  text-decoration: none;
  color: var(--white-color);
  border-radius: 5px;
  margin-right: 6px;
}
.actu__card__title h3{
  font-size: 1.5rem;
  margin: 0;
  font-weight: 500;
}
.actu__card__date{
  font-size: 0.6rem;
}
.actu__card__more{
  display: flex;
  justify-content: flex-end;
}
.actu__card__more a{
  text-decoration: none;
  color: var(--light-blue-color);
}
.actu__card__more i{
  margin-left: 1rem;
  color: var(--light-blue-color);
}
/* Parcours Homepage */
.parcours{
  background-color: var(--light-grey-color);
  padding: 2rem 0;
}
.parcours h2{
  margin: 0;
}
.parcours .btn_primary{
  margin-top: 1rem;
}
.parcours__steps{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-between;
}
@media (max-width: 900px){
  .parcours__steps{
    flex-direction: column;
    gap: 2rem;
    align-items: center;
  }
}
.parcours__step{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: relative;
  width: 200px;
}
.parcours__step::before{
  position: absolute;
  top: 40%;
  right: -35px;
  font-family: 'Font Awesome 6 Free';
  font-weight: 900;
  font-size: 1.5rem;
  -webkit-font-smoothing: antialiased;
  content: '\f061';
}
.parcours__step:last-child::before{
  display: none;
}
.parcours__step__bg{
  background-color: var(--white-color);
  border-radius: 100%;
  width: 100px;
  height: 100px;
  position: relative;
}
.parcours__step__number{
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--light-grey-color);
  padding: 6px;
  border-radius: 100%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.parcours__step__bg img{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.parcours__step div:nth-of-type(2) p{
  font-size: 1rem;
  text-align: center;
}
@media (max-width: 900px){
  .parcours__step{
    flex-direction: row;
    width: 100%;
  }
  .parcours__step div:nth-of-type(1){
    width: 80px;
    margin-right: auto;
  }
  .parcours__step div:nth-of-type(2){
    width: 70%;
  }
  .parcours__step::before{
    position: absolute;
    top: 100%;
    right: 50%;
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    font-size: 1.5rem;
    -webkit-font-smoothing: antialiased;
    content: '\f063';
    z-index: 50;
  }
  .parcours__step div:nth-of-type(2) p{
    font-size: 1rem;
    text-align: left;
  }
  .parcours__step__bg{
    height: 80px;
  }
  .parcours__step__number{
    width: 25px;
    height: 25px;
  }
  .parcours__step__bg img{
    width: 35px;
    height: 35px;
  }
}
/* Séance */
.seance .btn_primary{
  margin-top: 1rem;
  margin-bottom: 2rem;
}
.seance__card{
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--light-grey-color);
  padding-bottom: 1rem;
}
.seance__card__date{
  width: fit-content;
  height: fit-content;
  background-color: var(--light-grey-color);
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 16px;
}
.seance__card__date span:nth-of-type(1){
  font-weight: 500;
  font-size: 2rem;
}
.seance__card__date span{
  text-align: center;
}
.seance__card__description{
  display: flex;
  flex-direction: column;
}
.seance__card__description h3{
  margin: 0 0 10px 0;
}
.seance__card__description a{
  text-decoration: none;
  color: var(--light-blue-color);
}
.seance__card__description span{
  font-weight: 300;
}
.seance__card__description i{
  margin: 0 1rem;
}
@media (max-width: 900px){
  .seance__card__description h3{
    font-size: .900rem;
  }
  .seance__card__description span{
    font-size: .875rem;
  }
  .seance__card__description i{
    font-size: .875rem;
  }
}
/* Footer */
.partenaire{
  padding: 2rem 0;
  border-bottom: 1px solid var(--white-color);
  background-color: var(--light-grey-color);
}
.partenaire__logo{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.partenaire__logo img{
  width: 100px;
}
footer{
  padding: 2rem 0;
  display: flex;
  justify-content: center;
}
.main__footer{
  background-color: var(--light-grey-color);
}
.wrapper__bottom{
  width: 100%;
  max-width: 1200px;
  display: flex;
}
.wrapper__bottom div:nth-of-type(1){
  width: 10%;
  margin-right: auto;
}
.wrapper__bottom div:nth-of-type(1) img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.nav__footer{
  display: grid;
  grid-template-columns: 200px 200px;
}
.nav__footer ul{
  list-style: none;
  margin-top: 0;
  position: relative;
  width: 100%;
  max-width: 100%;
}
.nav__footer li{
  position: relative;
  margin-bottom:1rem;
}
.nav__footer li:before{
  content: "";
  display: inline-block;
  background-image: none;
  background-color: var(--dark-blue-color);
  height: 1px;
  left: -30px;
  position: absolute;
  top: 8px;
  width: 10px;
}
.nav__footer li::marker {
  content: "";
}
/* Breadcrumbs */
.breadcrumbs{
  display: flex;
  justify-content: center;
  padding: 10px 0;
  border-bottom: 1px solid var(--light-grey-color);
}
.breadcrumbs__content{
  color: #666;
  font-size: .9rem;
}
.breadcrumbs__content a{
  color: #666;
  text-decoration: none;
  font-size: .9rem;
}
/* Secondary Header */
.secondary__header{
  margin-top: 100px;
  height: fit-content;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-blue-color);
}
.secondary__header h1{
  color: var(--white-color);
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
}
/*Page Formation*/
.formation{
  margin: 2rem 0;
}
.formation__card{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--light-grey-color);
  border-radius: 10px;
}
.formation__card__info{ 
  font-weight: 300;
  background-color: var(--light-grey-color);
  padding: .725rem;
  display: flex;
  flex-wrap: wrap;
  gap: .725rem;
  font-size: 1rem;
}
.formation__card__info h2{
  font-size: 1.5rem;
  font-weight: 400; 
  margin: 0 0 10px 0;
  width: 100%;
}
.formation__card__info h2 a{
  text-decoration: none;
  color: var(--light-blue-color);
}
.formation__card__info div{
  margin-bottom: 10px;
}
.formation__card__info div:last-child{
  margin-bottom: 0;
}
.formation__card__info div i{
  margin-right: 10px;
  margin-left: 1rem;
}
.formation__card__description{
  padding: 0 .725rem .725rem .725rem;
}
.formation__card__link a{
  text-decoration: none;
  color: var(--light-blue-color);
}
.formation__card__link i{
  margin-left: 10px;
  color: var(--light-blue-color);
}
.formation__card__tag{
  font-size: .7rem;
}
.formation__card__tag a{
  background-color: var(--light-blue-color);
  border: 1px solid var(--light-blue-color);
  padding: 4px 8px;
  text-decoration: none;
  color: var(--white-color);
  border-radius: 5px;
  margin-right: 6px;
}
@media (max-width: 900px){
  .formation__card__info{ 
    flex-direction: column;
    font-size: .875rem;
  }
  .formation__card__info div i{
    margin-right: 10px;
    margin-left: 0;
  }
  .formation__card__info div{
    margin-bottom: 0;
  }
}
/* Bloc Search Home */
.main__page .search__formation{
  background-color: var(--white-color);
}
.main__page .btn-delete {
  border: 1px solid var(--dark-blue-color);
}
.main__page .input-field input, .main__page .input-field select{
  border: 1px solid var(--dark-blue-color);
}
/* Bloc Search */
.wrapper__formation{
  display: flex;
  justify-content: center;
}
.search__formation{
  padding: 2rem 0;
  background-color: var(--light-grey-color);
}
.form__formation__container{
  max-width: 800px;
  width: 100%;
}
.form__formation__header{
  display: flex;
  border-bottom: 2px solid var(--light-blue-color);
  justify-content: space-between;
}
.input-field{
  width: calc((100% - 20px) / 2);
  padding: 10px;
}
.input-field input, .input-field select{
  width: 100%;
  height: 40px;
  border: 1px solid var(--light-grey-color);
  padding: 5px 8px;
}
.form__formation__filtre{
  display: flex;
  flex-direction: column;
}
.desc{
  padding: 10px;
}
.form__input{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.form__result{
  display: flex;
  justify-content: flex-end;
}
.group-btn{
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
.btn-delete {
  min-width: 100px;
  height: 40px;
  padding: 0 15px;
  background: transparent;
  white-space: nowrap;
  border-radius: 0;
  font-size: 14px;
  color: var(--dark-blue-color);
  transition: all .2s ease-out, color .2s ease-out;
  border: 1px solid var(--light-grey-color);
  cursor: pointer;
  font-weight: bold;
}
.btn-search {
  min-width: 100px;
  height: 40px;
  padding: 0 15px;
  background: #00bbec;
  white-space: nowrap;
  border-radius: 0;
  font-size: 14px;
  color: #fff;
  transition: all .2s ease-out, color .2s ease-out;
  border: 1px solid #00bbec;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
}
/* Page Single Template */
.page__content ul{
  list-style: none;
  margin-top: 0;
  position: relative;
  width: 100%;
  max-width: 100%;
}
.page__content li{
  margin-bottom: 5px;
  position: relative;
  margin-bottom:1rem;
}
.page__content li:before{
  content: "";
  display: inline-block;
  background-image: none;
  background-color: var(--dark-blue-color);
  height: 1px;
  left: -30px;
  position: absolute;
  top: 8px;
  width: 10px;
}
.single-page .page__content{
  margin-bottom: 2rem;
}
/* Article Single Template */
.article__head{
  display: flex;  
  flex-direction: column;
}
.article__date{
  font-size: .7rem;
  margin-top: 1rem;
}
.article__tag{
  font-size: .7rem;
  margin-top: 1rem;
}
.article__tag a{
  background-color: var(--light-blue-color);
  border: 1px solid var(--light-blue-color);
  padding: 4px 8px;
  text-decoration: none;
  color: var(--white-color);
  border-radius: 5px;
  margin-right: 6px; 
}
.article__img{
  width: 100%;
  height: 300px;
  margin-top: 1rem;
}
.article__img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.single-article .page__content{
  margin-bottom: 2rem;
}
.single-article .actu{
  margin-bottom: 2rem;
  border-top: 1px solid var(--light-grey-color);
}
/* Formation Single Template */
.single__formation__info{
  padding: 2rem 0;
  background-color: var(--light-grey-color);
}
.single__formation__info .wrapper{
  display: flex;
  gap: 2rem;
}
.single__formation__info__img{
  width: 50%;
  height: auto;
}
.single__formation__info__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.single__formation__info__content{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.single__formation__info__content >div:nth-of-type(1){
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.single__formation__info__content i{
  margin-right: 1rem;
}
.single__formation__info__content div:last-child{
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.formation__tag{
  font-size: .8rem;
}
.formation__tag a{
  background-color: transparent;
  border: 1px solid var(--dark-blue-color);
  padding: 4px 8px;
  text-decoration: none;
  color: var(--dark-blue-color);
  border-radius: 5px;
  margin-right: 6px;
}
.single__formation__info__content >div:last-child >span{
  margin-left: auto;
  font-size: .8rem;
}
.single__formation__condition{
  margin-bottom: 2rem;
}
.single__formation__inscription{
  background-color: var(--light-grey-color);
  padding-bottom: 2rem;
}
.single__formation__inscription__btn{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.single-formation ul{
  list-style: none;
  margin-top: 0;
  position: relative;
  width: 100%;
  max-width: 100%;
}
.single-formation li{
  position: relative;
  margin-bottom:1rem;
}
.single-formation li:before{
  content: "";
  display: inline-block;
  background-image: none;
  background-color: var(--dark-blue-color);
  height: 1px;
  left: -30px;
  position: absolute;
  top: 8px;
  width: 10px;
}
.single__formation__inscription__content{
  background-color: var(--white-color);
  padding: 1rem 2rem;
}
.single__formation__inscription__content h4{
  margin-top: 0;
}
.single-formation .parcours{
  background-color: var(--white-color);
}
.single-formation .parcours h2{
  margin-bottom: 2rem;
}
.single-formation .parcours__step__bg{
  background-color: var(--light-grey-color);
}
.single-formation .parcours__step__number{
  background-color: var(--light-grey-color);
  border: 1px solid var(--white-color);
}
/* Seance Single Template */
.single__seance__info{
  padding: 2rem 0;
  background-color: var(--light-grey-color);
}
.single__seance__info .wrapper{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.single__seance__info__content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 
  "seanceHoraire seanceAdresse seanceModalite"
  "seanceTag seanceTag seanceTag";
  row-gap: 2rem;
}
.single__seance__info__content >div:nth-of-type(1){
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}
.single__seance__info__content >div:nth-of-type(1){
  grid-area: seanceHoraire;
}
.single__seance__info__content >div:nth-of-type(2){
  grid-area: seanceAdresse;
}
.single__seance__info__content >div:nth-of-type(3){
  grid-area: seanceModalite;
}
.single__seance__info__content >div:nth-of-type(4){
  grid-area: seanceTag;
}
.single__seance__info__content i{
  margin-right: 1rem;
}
.single__seance__info__content div:last-child{
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}
.seance__tag{
  font-size: .8rem;
}
.seance__tag a{
  background-color: transparent;
  border: 1px solid var(--dark-blue-color);
  padding: 4px 8px;
  text-decoration: none;
  color: var(--dark-blue-color);
  border-radius: 5px;
  margin-right: 6px;
}
.single__seance__info__content >div:last-child >span{
  font-size: .8rem;
}
.single__seance__brief{
  margin-top: 1rem;
}
.single__seance__links{
  margin-bottom: 2rem;
}
.single-seance ul{
  list-style: none;
  margin-top: 0;
  position: relative;
  width: 100%;
  max-width: 100%;
}
.single-seance li{
  position: relative;
  margin-bottom:1rem;
}
.single-seance li:before{
  content: "";
  display: inline-block;
  background-image: none;
  background-color: var(--dark-blue-color);
  height: 1px;
  left: -30px;
  position: absolute;
  top: 8px;
  width: 10px;
}
/* Jobs */
.single-page .page__description{
  margin: 0 0 2rem 0;
  background-color: var(--light-grey-color);
  padding: 1rem 0 2rem 0;
}
/*  */
.single-page ul{
  list-style: none;
  margin-top: 0;
  position: relative;
  width: 100%;
  max-width: 100%;
}
.single-page li{
  position: relative;
  margin-bottom:1rem;
}
.single-page li:before{
  content: "";
  display: inline-block;
  background-image: none;
  background-color: var(--dark-blue-color);
  height: 1px;
  left: -30px;
  position: absolute;
  top: 8px;
  width: 10px;
}
.single-page .page__content__img__text{
  margin-bottom: 2rem;
}
.single-page .page__content__img__text .wrapper{
  display: flex;
}
.img__text{
  display: flex;
  gap: 2rem;
}
.img__text__img{
  width: 300px;
  height: 100%;
}
.img__text__img img{
  width: 300px;
  height: 100%;
  object-fit: cover;
}
.text__img .img__text__img{
  order: 2;
}
.text__img .img__text__content{
  order: 1;
}
.grey-bg{
  background-color: var(--light-grey-color);
  padding-bottom: 2rem;
}
.white-bg{
  background-color: var(--white-color);
  padding-bottom: 2rem;
}
.intro__publication{
  margin: 2rem 0;
}
.intro__publication .wrapper{
  display: flex;
  gap: 2rem;
}
.publication__items{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 1rem;
  height: fit-content;
  width: 500px;
  position: sticky;
  top: 0;
  border: 1px solid var(--light-blue-color);
  border-radius: 5px;
  padding: 8px;
}
.mixitup-control-active{
  background-color: var(--light-blue-color);
  color: var(--white-color) !important;
}
.btn-collapsible{
  padding: 4px 8px;
  text-decoration: none;
  color: var(--dark-blue-color);
  border-radius: 5px;
  margin-right: 6px;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
  list-style: none;
}
ul.btn-collapsible{
  margin: 0;
}
.btn-collapsible li{
  padding: 6px 12px;
  text-decoration: none;
  color: var(--dark-blue-color);
  border-radius: 5px;
  margin-right: 6px;
  cursor: pointer;
  height: fit-content;
  width: fit-content;
}
/* collapsible design */
.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}
.active-collapse:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.publication__card{
  display: flex;
  gap: 1rem;
  border-bottom: 1px solid var(--light-blue-color);
  padding-top: 1rem;
}
.publication__img{
  width: 150px;
  height: 150px;
}
.publication__img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.publication__text{
  width: 80%;
}
.publication__tag{
  font-size: .7rem;
}
.publication__tag span{
  background-color: var(--light-blue-color);
  border: 1px solid var(--light-blue-color);
  padding: 4px 8px;
  text-decoration: none;
  color: var(--white-color);
  border-radius: 5px;
  margin-right: 6px;
}
.publication__title{
  margin: .5rem 0;
}
.publication__info{
  font-size: .7rem;
  margin:0 1rem 0 0;
}
/* Page centre */
.intro__centre{
  margin: 2rem 0;
}
.centre__cards{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  gap: 2rem;
}
@media (max-width: 900px){
  .centre__cards{
    flex-direction: column;
  }
}
.centre__card{
  display: flex;
  width: 30%;
  flex-direction: column;
  gap: .8rem;
}
@media (max-width: 900px){
  .centre__card{
    width: 100%;
  }
}
.centre__card__img{
  width: 100%;
  height: 250px;
}
.centre__card__img img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.centre__card__title h3{
  font-size: 1.5rem;
  margin: 0;
  font-weight: 500;
}
.centre__card__more{
  display: flex;
  justify-content: flex-end;
}
.centre__card__more a{
  text-decoration: none;
  color: var(--light-blue-color);
}
.centre__card__more i{
  margin-left: 1rem;
  color: var(--light-blue-color);
}
.single__centre__info{
  padding: 2rem 0;
  background-color: var(--light-grey-color);
}
.single__centre__info .wrapper{
  display: flex;
  gap: 2rem;
}
.single__centre__info__content{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.single__centre__info__content div:nth-of-type(1){
  display: flex;
  gap: 1rem;
}
.single__centre__info__content i{
  margin-right: 1rem;
}
.centre__tag{
  font-size: .8rem;
}
.centre__tag a{
  background-color: transparent;
  border: 1px solid var(--dark-blue-color);
  padding: 4px 8px;
  text-decoration: none;
  color: var(--dark-blue-color);
  border-radius: 5px;
  margin-right: 6px;
}
.single__centre__description{
  margin: 2rem 0;
}
.single__centre__plan{
  margin: 0 0 2rem 0;
  padding-bottom: 2rem;
  background-color: var(--light-grey-color);
}
.single__centre__plan .wrapper h2{
  width: 100%;
}
.single__centre__plan__img{
  width: 100%;
  height: 500px;
}
.single__centre__plan__img img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.single__centre__plan__text a{
  padding: 10px;
}